body {
    background-color: lightgray;
    font-family: sans-serif;    
}

.header {
    background-color: whitesmoke;
    width: 800;
    padding-top: 5;
    padding-bottom: 5;
}

.status {
    font-size: 200%;
    background-color: white;
    width: 700;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.content {
    background-color: white;
    width: 700;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.square {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightgray;
    margin: 10px;
    font-size: 800%;
}

.square:hover {
    background-color: whitesmoke;

}